In [1]:
import numpy as np
import pandas as pd
import time

In [2]:
# 1
#Read the dataset “cleaned.csv”
dataset = pd.read_csv('cleaned.csv')
dataset.head()

,user,timestamp,x,y,z,class
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus

In [3]:
#a
# Output the number of rows, columns, and columns names of the input data. 
dataset.shape

(5653053, 6)

In [4]:
#b) Find out the number of unique users present in the dataset and output the value (Column “user”)
unq = dataset.drop_duplicates(['user'])
print(len(unq))

32

In [5]:
#2 Determine the number of unique sequences
# a) Output using a table the number of unique sequences present for each transportation mode for
 # each user.
dataset['shift_user'] = dataset['user'].shift(-1)
dataset['shift_class'] = dataset['class'].shift(-1)
dataset['new_user'] = False
dataset.loc[dataset['shift_user']!=dataset['user'] , 'new_user'] =True
dataset['new_class'] = False
dataset.loc[dataset['shift_class']!=dataset['class'] ,'new_class'] = True
dataset

,user,timestamp,x,y,z,class,shift_user,shift_class,new_user,new_class
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False
...,...,...,...,...,...,...,...,...,...,...
5653048,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,8.25,0.47,1.41,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False
5653049,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31.900000,12.28,2.07,1.87,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False
5653050,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.20,3.39,-1.80,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False
5653051,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.88,4.19,-1.29,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False
5653052,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:32,10.91,1.49,3.05,bike,None,None,True,True

In [6]:
# convert time to datetime
dataset['time'] = pd.to_datetime(dataset['timestamp'] )
dataset

,user,timestamp,x,y,z,class,shift_user,shift_class,new_user,new_class,time
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.053
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.111
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.169
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.228
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.286
...,...,...,...,...,...,...,...,...,...,...,...
5653048,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,8.25,0.47,1.41,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000
5653049,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31.900000,12.28,2.07,1.87,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.900
5653050,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.20,3.39,-1.80,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000
5653051,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.88,4.19,-1.29,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000
5653052,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:32,10.91,1.49,3.05,bike,None,None,True,True,2019-09-13 17:04:32.000

In [7]:
dataset['shift_time'] = dataset['time'].shift(-1)
dataset

,user,timestamp,x,y,z,class,shift_user,shift_class,new_user,new_class,time,shift_time
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.053,2018-06-04 16:26:55.111
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.111,2018-06-04 16:26:55.169
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.169,2018-06-04 16:26:55.228
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.228,2018-06-04 16:26:55.286
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.286,2018-06-04 16:26:55.344
...,...,...,...,...,...,...,...,...,...,...,...,...
5653048,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,8.25,0.47,1.41,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000,2019-09-13 17:04:31.900
5653049,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31.900000,12.28,2.07,1.87,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.900,2019-09-13 17:04:31.000
5653050,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.20,3.39,-1.80,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000,2019-09-13 17:04:31.000
5653051,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.88,4.19,-1.29,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000,2019-09-13 17:04:32.000
5653052,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:32,10.91,1.49,3.05,bike,None,None,True,True,2019-09-13 17:04:32.000,NaT

In [8]:
# make a new sequence of new  user , new class and new time 
dataset['timediff'] = (dataset['shift_time'] -dataset['time']).astype('timedelta64[ms]')
dataset['new_time'] = False
dataset.loc[dataset['timediff']>10000,'new_time'] = True

dataset['new_seq'] = dataset[['new_user' ,'new_class','new_time']].any(axis = 'columns')
dataset

,user,timestamp,x,y,z,class,shift_user,shift_class,new_user,new_class,time,shift_time,timediff,new_time,new_seq
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.053,2018-06-04 16:26:55.111,58.0,False,False
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.111,2018-06-04 16:26:55.169,58.0,False,False
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.169,2018-06-04 16:26:55.228,59.0,False,False
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.228,2018-06-04 16:26:55.286,58.0,False,False
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.286,2018-06-04 16:26:55.344,58.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5653048,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,8.25,0.47,1.41,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000,2019-09-13 17:04:31.900,900.0,False,False
5653049,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31.900000,12.28,2.07,1.87,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.900,2019-09-13 17:04:31.000,-900.0,False,False
5653050,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.20,3.39,-1.80,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000,2019-09-13 17:04:31.000,0.0,False,False
5653051,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.88,4.19,-1.29,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000,2019-09-13 17:04:32.000,1000.0,False,False
5653052,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:32,10.91,1.49,3.05,bike,None,None,True,True,2019-09-13 17:04:32.000,NaT,NaN,False,True

In [9]:
#calculate total no of sequence
dataset['new_id'] = 0
dataset.loc[dataset['new_seq'],'new_id'] =1

dataset['unq_id']= dataset['new_id'].cumsum()
dataset

,user,timestamp,x,y,z,class,shift_user,shift_class,new_user,new_class,time,shift_time,timediff,new_time,new_seq,new_id,unq_id
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.053,2018-06-04 16:26:55.111,58.0,False,False,0,0
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.111,2018-06-04 16:26:55.169,58.0,False,False,0,0
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.169,2018-06-04 16:26:55.228,59.0,False,False,0,0
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.228,2018-06-04 16:26:55.286,58.0,False,False,0,0
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,False,False,2018-06-04 16:26:55.286,2018-06-04 16:26:55.344,58.0,False,False,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5653048,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,8.25,0.47,1.41,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000,2019-09-13 17:04:31.900,900.0,False,False,0,3490
5653049,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31.900000,12.28,2.07,1.87,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.900,2019-09-13 17:04:31.000,-900.0,False,False,0,3490
5653050,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.20,3.39,-1.80,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000,2019-09-13 17:04:31.000,0.0,False,False,0,3490
5653051,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.88,4.19,-1.29,bike,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,False,False,2019-09-13 17:04:31.000,2019-09-13 17:04:32.000,1000.0,False,False,0,3490
5653052,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:32,10.91,1.49,3.05,bike,None,None,True,True,2019-09-13 17:04:32.000,NaT,NaN,False,True,1,3491

In [10]:
unq_seq = pd.DataFrame(dataset.groupby(['user','class'])['new_id'].sum())
unq_seq

                                                new_id
user                                     class
a2d80ed662f34d32951eb1c6ed076c313e358b73 bus        13
a526f3566e9c9024dfa7378eb4291d787a09fd37 car        14
                                         walk       19
a59868c6eb3645eedbb343ce8c336ec6f2ef2324 bike       36
                                         bus        18
...                                                ...
f5edd999397145a2ec1b244226fc83f99631760c walk       13
f7ae1ce141c26db40ea8b090fb568a0c965310aa car         2
faae5be800be2dfa897eea0bd2e5988cd53c4ec0 bike      136
                                         car        10
                                         walk       35

[70 rows x 1 columns]

In [11]:
#b) Output the time taken for your code to run this particular section of code 

start = time.process_time()
dataset['shift_user'] = dataset['user'].shift(-1)
dataset['shift_class'] = dataset['class'].shift(-1)
dataset['new_user'] = False
dataset.loc[dataset['shift_user']!=dataset['user'] , 'new_user'] =True
dataset['new_class'] = False
dataset.loc[dataset['shift_class']!=dataset['class'] ,'new_class'] = True

dataset['time'] = pd.to_datetime(dataset['timestamp'] )
dataset['shift_time'] = dataset['time'].shift(-1)
dataset['timediff'] = (dataset['shift_time'] -dataset['time']).astype('timedelta64[ms]')
dataset['new_time'] = False
dataset.loc[dataset['timediff']>10000,'new_time'] = True

dataset['new_seq'] = dataset[['new_user' ,'new_class','new_time']].any(axis = 'columns')
dataset

dataset['new_id'] = 0
dataset.loc[dataset['new_seq'],'new_id'] =1

dataset['unq_id']= dataset['new_id'].cumsum()
dataset
unq_seq = pd.DataFrame(dataset.groupby(['user','class'])['new_id'].sum())
unq_seq  
print(time.process_time() - start)

10.125

In [12]:
# 3
# extract features such as minimum, maximum, average, and standard deviation for each sequence

ext_f = dataset.groupby(['user','class'],as_index= False)[['x','y','z']].agg( [np.max,np.min,np.mean, np.std])
ext_f

                                                        x             \
                                                     amax       amin
user                                     class
a2d80ed662f34d32951eb1c6ed076c313e358b73 bus     6.060000  -2.660000
a526f3566e9c9024dfa7378eb4291d787a09fd37 car    13.420000 -10.940000
                                         walk   23.490000 -33.099998
a59868c6eb3645eedbb343ce8c336ec6f2ef2324 bike   33.980000 -17.440001
                                         bus    20.690001 -11.620000
...                                                   ...        ...
f5edd999397145a2ec1b244226fc83f99631760c walk   22.799999 -14.710000
f7ae1ce141c26db40ea8b090fb568a0c965310aa car    14.100000   1.930000
faae5be800be2dfa897eea0bd2e5988cd53c4ec0 bike   25.830000 -32.880001
                                         car    40.330002 -15.670000
                                         walk    5.500000 -56.410000

                                                                     \
                                                     mean       std
user                                     class
a2d80ed662f34d32951eb1c6ed076c313e358b73 bus     1.316122  0.806892
a526f3566e9c9024dfa7378eb4291d787a09fd37 car     1.819476  3.685977
                                         walk   -0.122076  2.894998
a59868c6eb3645eedbb343ce8c336ec6f2ef2324 bike    1.991862  5.644572
                                         bus     4.230156  3.298699
...                                                   ...       ...
f5edd999397145a2ec1b244226fc83f99631760c walk   -0.016501  3.422963
f7ae1ce141c26db40ea8b090fb568a0c965310aa car     7.185852  0.895384
faae5be800be2dfa897eea0bd2e5988cd53c4ec0 bike    0.926441  5.523633
                                         car    -2.612990  3.674756
                                         walk  -10.172452  7.639428

                                                        y             \
                                                     amax       amin
user                                     class
a2d80ed662f34d32951eb1c6ed076c313e358b73 bus    -5.970000 -19.049999
a526f3566e9c9024dfa7378eb4291d787a09fd37 car    15.800000  -7.120000
                                         walk   21.660000 -25.780001
a59868c6eb3645eedbb343ce8c336ec6f2ef2324 bike   24.840000 -32.830002
                                         bus    18.100000 -33.259998
...                                                   ...        ...
f5edd999397145a2ec1b244226fc83f99631760c walk   22.219999 -21.639999
f7ae1ce141c26db40ea8b090fb568a0c965310aa car     0.970000  -9.300000
faae5be800be2dfa897eea0bd2e5988cd53c4ec0 bike   19.870001 -24.670000
                                         car    15.740000  -9.080000
                                         walk   45.680000 -16.090000

                                                                            z  \
                                                    mean       std       amax
user                                     class
a2d80ed662f34d32951eb1c6ed076c313e358b73 bus   -9.309982  0.903427  15.630000
a526f3566e9c9024dfa7378eb4291d787a09fd37 car    7.368686  3.604535  15.190000
                                         walk   0.953261  7.933196  21.010000
a59868c6eb3645eedbb343ce8c336ec6f2ef2324 bike  -1.781209  6.107822  52.090000
                                         bus   -0.336725  4.488805  21.830000
...                                                  ...       ...        ...
f5edd999397145a2ec1b244226fc83f99631760c walk   2.776220  5.158698  29.559999
f7ae1ce141c26db40ea8b090fb568a0c965310aa car   -4.314918  1.020041  12.560000
faae5be800be2dfa897eea0bd2e5988cd53c4ec0 bike  -1.039867  5.397270  23.660000
                                         car    2.164662  4.521021  74.730003
                                         walk  -0.103628  6.842614  32.139999


                                                     amin      mean       std
user                                     class
a2d80ed662f34d32951eb1c6ed076c313e358b73 bus    -6.790000 -2.508705  1.663376
a526f3566e9c9024dfa7378eb4291d787a09fd37 car   -10.520000  3.252707  0.990001
                                         walk  -34.680000  3.470106  5.324705
a59868c6eb3645eedbb343ce8c336ec6f2ef2324 bike  -31.510000  1.562987  5.030901
                                         bus   -32.000000 -3.187732  5.968962
...                                                   ...       ...       ...
f5edd999397145a2ec1b244226fc83f99631760c walk  -15.570000  7.207582  3.357760
f7ae1ce141c26db40ea8b090fb568a0c965310aa car    -0.040000  4.998115  0.993698
faae5be800be2dfa897eea0bd2e5988cd53c4ec0 bike  -20.530001  1.151737  6.254779
                                         car    -6.380000  6.510302  3.188298
                                         walk  -43.180000 -2.766714  4.496189

[70 rows x 12 columns]